<html ng-app="china-bowl-menu">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="controller.js"></script>
</head>

<body ng-controller="china-bowl-menu-controller">

    <div class="wrapper">

    <!-- Page 0 -->
    <title-page size="A4">
        <div class="col-md-12 text-center title">
            <img src="logo.png"/>
            <div class="info">
                <div class="info-item"><i class="icon fa fa-home"></i>4061 200 Street, Unit 106</div>
                <div class="info-item"><i class="icon fa fa-phone"></i>(604) 532-7898</div>
                <div class="info-item"><i class="icon fa fa-globe"></i>www.chinabowl.ca</div>
            </div>
        </div>
    </title-page>

    <!-- Page 1 -->
    <page size="A4">
        <div class="menu-content">

            <!-- Section 1 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Soup</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.soup.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceSmall }} (S) &nbsp; ${{ item.priceLarge }} (L)</span>
                </ul>
            </div>

            <!-- Section 2 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Appetizer</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.appetizer.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            
            <!-- Section 3 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Rice</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <p class="sub-heading">
                    <strong>Fried Rice</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menu.rice.friedRice.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

        </div>
    </page>

    <!-- Page 2 -->
    <page size="A4">
        <div class="menu-content">

            <!-- Section 3 continued-->
            <div class="col-md-12">
                <p class="sub-heading">
                    <strong>On Rice</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menu.rice.onRice.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            <!-- Section 4 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Noodle</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <p class="sub-heading">
                    <strong>Soft Noodle Chow Mein</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menu.noodle.softNoodle.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
                <p class="sub-heading">
                    <strong>Crispy Noodle Chow Mein</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menu.noodle.crispyNoodle.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

        </div>
    </page>

    <!-- Page 3 -->
    <page size="A4">
        <div class="menu-content">

            <!-- Section 4 - continued-->
            <div class="col-md-12">
                <p class="sub-heading">
                    <strong>Rice Noodle</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menu.noodle.riceNoodle.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            <!-- Section 5 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Vegetarian</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.vegetable.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            <!-- Section 6 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Pork</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.pork.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

        </div>
    </page>

    <!-- Page 4 -->
    <page size="A4">
        <div class="menu-content">

            <!-- Section 7 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Beef</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.beef.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

        </div>
    </page>

    <!-- Page 5 -->
    <page size="A4">
        <div class="menu-content">

            <!-- Section 8 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Chicken</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.chicken.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            <!-- Section 9 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Egg Foo Yong</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.egg.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

        </div>
    </page>
    

    <!-- Page 6 -->
    <page size="A4">
        <div class="menu-content">
    

            <!-- Section 10 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Seafood</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.seafood.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            <!-- Section 11 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Western Dishes</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.western.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

        </div>
    </page>

    <!-- Page 6 -->
    <page size="A4">
        <div class="menu-content">

            <!-- Section 12 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Special Dinners</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menu.dinner.items">
                        <span>
                            <strong>{{ item.name }}</strong>&nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                        <p>{{ item.description }}</p>
                </ul>
            </div>


        </div>
    </page>

    <!-- Page 7 -->
    <page size="A4">
        <div class="menu-content">

        <!-- Section 13 -->
        <div class="col-md-12 text-center">
            <h1 class="heading">Combinations For ONE Person</h1>
            <hr>
        </div>
        <div class="col-md-12">
            <ul class=items>
                <li ng-repeat="item in menu.combo.items">
                    <span>
                        <strong>{{ item.name }} </strong>&nbsp;</span>
                    <span> &nbsp; ${{ item.priceLarge }} </span>
                    <p>{{ item.description }}</p>
                <li>
                    <span>
                        <strong>Custom Combination </strong>&nbsp;</span>
                    <span> &nbsp; $17.99 </span>
                    <p>Choose any <strong>1</strong> of the following items:</p>
                    <ul class="combo-items">
                        <li>(Chicken/pork/vegetable) fried rice</li>
                        <li>(Chicken/pork/vegetable) chow mein</li>
                        <li>Steamed rice</li>
                    </ul>
                    <br>
                    <p>Choose any <strong>2</strong> of the following items:</p>
                    <ul class="combo-items">
                        <li>(Chicken/pork/beef/vegetable) chop suey</li>
                        <li>(Chicken/beef) & broccoli</li>
                        <li>(Chicken/beef) and vegetables with black bean sauce</li>
                        <li>Spicy (chicken/beef) and vegetables</li>
                        <li>Satay (chicken/beef) and vegetables</li>
                        <li>Sweet & sour (pork/chicken)</li>
                        <li>Honey & garlic (pork/chicken)</li>
                        <li>Dry garlic & spicy (pork/chicken)</li>
                        <li>(Lemon/almond) chicken</li>
                        <li>Sweet & sour chicken balls</li>
                        <li>Deep fried prawn and dip</li>
                        <li>Ginger beef</li>
                    </ul>
            </ul>
        </div>

        </div>
    </page>

    <!-- Page 7 -->
    <page size="A4">
        <div class="menu-content">

            <!-- Section 14 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Dine-In Specialities</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <p class="sub-heading">
                    <strong>Hot Pot</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menuDining.dineIn.hotPot.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
                <p class="sub-heading">
                    <strong>Sizzling Platter</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menuDining.dineIn.sizzlingPlatter.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            <!-- Section 15 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Side Orders</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <ul class=items>
                    <li ng-repeat="item in menuDining.sideOrders.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

            <!-- Section 16 -->
            <div class="col-md-12 text-center">
                <h1 class="heading">Beverages</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <p class="sub-heading">
                    <strong>Non-Alcoholic</strong>
                </p>
                <ul class=items>
                    <li ng-repeat="item in menuDining.beverages.nonalcoholic.items">
                        <span>{{ item.name }} &nbsp;</span>
                        <span> &nbsp; ${{ item.priceLarge }} </span>
                </ul>
            </div>

        </div>
    </page>

</div>

</body>

</html>